@media screen and (min-width: 576px) {

    .main {
        .main__intro {
            padding-bottom: 11em;

            .intro__container {

                .content__header {
                    margin-top: 4em;
                    font-size: 2em;
                }

                .content__paragraph {
                    font-size: 2em;
                }
            }
        }

        .main__about {
            padding-bottom: 11em;
    
            .about__container {
                .about__header {
                    font-size: 2em;
                }
                .about__content {
                    font-size: 1.3em;

                    .about__img {
                        width: 350px;
                    }
                }
            }
        }

        .main__articles {
            padding-bottom: 9em;
            .articles__container {
                .articles__header {
                    font-size: 2em
                }
            }
        }

        .main__article {
            padding-bottom: 9em;
            .article__container {
                .article__header {
                    font-size: 2em;
                }
                .article__text {
                    font-size: 1.3em;
                }
            }
        }

        .main__article-form {
            padding-bottom: 4em;
            .article-form__container {
                .article-form__header {
                    font-size: 2em;
                }
            }
        }

        .main__recipe-form {
            padding-bottom: 4em;
            .recipe-form__container {
                .recipe-form__header {
                    font-size: 2em;
                }
            }
        }

        .main__recipes-page {
            padding-bottom: 4em;

            .recipes-page__container {

                .recipes-page__header {
                    font-size: 2em;
                }
            }
        }

        .main__recipe {
            padding-bottom: 4em;
            .recipe__container {
                .recipe__header {
                    font-size: 2em;
                }
            }
        }

        .main__register {
            padding-bottom: 4em;
            .register__container {
                .register__header {
                    font-size: 2em;
                }
            }
        }
    }

    .recipes-page__list {
    
        .recipes-page__item {
            width: 175px;
            height: 175px;

            .item__header {
                margin-top: 7em;
            }
        }
    }

    .main__login {
        padding-bottom: 4em;

        .login__container {
            .login__header {
                font-size: 2em;
            }
        }
    }


    .social {
        img {
            width: 25px;
            height: 25px;
        }
    }

    .form__body {
        font-size: 1.15em;
    }
}


@media screen and (min-width: 768px) {
    .header {
        .nav {
            align-items: center;
            padding: 1.2em;
            .nav__block {
                width: auto;
                .nav__toggler {
                    display: none;
                }

                .nav__list {
                    flex-direction: row;
                    margin: 0;
                    padding: 0;

                    &.false {
                        height: auto;
                    }

                    &_folded {
                        height: auto;
                    }

                    .nav__item {
                        margin: 0;

                        &:not(:first-of-type) {
                            margin-left: 1.5rem;
                        }
                    }
                }
            }
        }
    }

    .recipes-page__list {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 2em;

        .recipes-page__item {
            width: 225px;
            height: 225px;

            .item__header {
                margin-top: 8em;
                font-size: 1.25em;
            }
        }
    }

    .add-recipe {
        .add-recipe__btn {
            width: 75px;
            height: 75px;

            span {
                width: 40px;
                margin-left: -19.5px;
            }
        }
    }

    .main {
        .main__intro {
            padding-bottom: 12em;

            .intro__container {

                .content__header {
                    margin-top: 5em;
                    font-size: 2.5em;
                }

                .content__paragraph {
                    font-size: 2.5em;
                }
            }
        }

        .main__about {
            padding-bottom: 12em;
    
            .about__container {
                .about__header {
                    font-size: 2.5em;
                }
                .about__content {
                    font-size: 1.5em;
                    grid-template-columns: 2fr 1fr;

                    .about__img {
                        width: 375px;
                    }
                }
            }
        }

        .main__articles {
            padding-bottom: 12em;
            .articles__container {
                .articles__header {
                    font-size: 2.5em
                }

                .articles__wrapper {
                    grid-template-columns: 1fr 1fr;
                }
            }
        }

        .main__article {
            padding-bottom: 12em;
            .article__container {
                .article__header {
                    font-size: 2.5em;
                }
                .article__text {
                    font-size: 1.5em;
                }
            }
        }

        .main__article-form {
            padding-bottom: 5em;
            .article-form__container {
                .article-form__header {
                    font-size: 2.5em;
                }
            }
        }

        .main__recipe-form {
            padding-bottom: 5em;
            .recipe-form__container {
                .recipe-form__header {
                    font-size: 2.5em;
                }
            }
        }

        .main__recipe {
            padding-bottom: 6em;
            .recipe__container {
                .recipe__header {
                    font-size: 2.5em;
                }
            }
        }

        .main__register {
            padding-bottom: 6em;
            .register__container {
                .register__header {
                    font-size: 2.5em;
                }
            }
        }

        .main__login {
            padding-bottom: 6em;
    
            .login__container {
                .login__header {
                    font-size: 2.5em;
                }
            }
        }

        

        .main__recipes-page {
            padding-bottom: 6em;

            .recipes-page__container {

                .recipes-page__header {
                    font-size: 2.5em;
                }
            }
        }

        .main__login {
            padding-bottom: 6em;
    
            .login__container {
                .login__header {
                    font-size: 2.5em;
                }
            }
        }
    }

    .footer {
        .footer__container {
            .footer__list {
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }

    .form__body {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 992px) {

    .header {
        .nav {
            padding: 1.2em 0;
            max-width: 992px;
            margin: 0 auto;
            .nav__item {
                font-size: 1.1rem;
            }
    
        }
    }

    .add-recipe {
        .add-recipe__btn {
            width: 95px;
            height: 95px;

            span {
                width: 50px;
                margin-left: -23.5px;
            }
        }

        .add-recipe__text {
            font-size: 1.5em;
        }
    }

    .recipes-page__list {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 2em;

        .recipes-page__item {
            width: 300px;
            height: 300px;

            .item__header {
                margin-top: 8em;
                font-size: 1.7em;
            }
        }
    }

    .main {
        .main__intro {
            padding-bottom: 13em;

            .intro__container {

                .content__header {
                    margin-top: 3em;
                    font-size: 2.7em;
                }

                .content__paragraph {
                    font-size: 2.7em;
                }
            }
        }

        .main__articles {
            padding-bottom: 15em;
            .articles__container {
                .articles__header {
                    font-size: 2.7em
                }

                .articles__wrapper {
                    grid-template-columns: 1fr 1fr 1fr;
                }
            }
        }

        .main__about {
            padding-bottom: 15em;
    
            .about__container {
                .about__header {
                    font-size: 2.7em;
                }
                .about__content {
                    font-size: 1.6em;
                    .about__img {
                        width: 425px;
                    }
                }
            }
        }

        .main__article-form {
            padding-bottom: 6em;
            .article-form__container {
                .article-form__header {
                    font-size: 2.7em;
                }
            }
        }

        .main__recipe-form {
            padding-bottom: 6em;
            .recipe-form__container {
                .recipe-form__header {
                    font-size: 2.7em;
                }
            }
        }

        .main__article {
            padding-bottom: 15em;
            .article__container {
                .article__header {
                    font-size: 2.7em;
                }
                .article__text {
                    font-size: 1.6em;
                }
            }
        }

        .main__recipe {
            padding-bottom: 6em;
            .recipe__container {
                .recipe__header {
                    font-size: 2.7em;
                }
            }
        }

        .main__register {
            padding-bottom: 6em;
            .register__container {
                .register__header {
                    font-size: 2.7em;
                }
            }
        }

        .main__recipes-page {
            padding-bottom: 6em;
            padding-left: 1.2em;
            padding-right: 1.2em;

            .recipes-page__container {

                .recipes-page__header {
                    font-size: 2.7em;
                }
            }
        }

        .main__login {
            padding-bottom: 6em;
    
            .login__container {
                .login__header {
                    font-size: 2.7em;
                }
            }
        }
    }

    .container {
        padding: 0;
        max-width: 992px;
        margin: 0 auto;
    }

    .form__body {
        font-size: 1.3em;
    }
}

@media screen and (min-width: 1200px) {
    .header {
        .nav {
            max-width: (1200px + 20px);
            margin: 0 auto;
            padding: 1.2em 0;
        }
    }

    .recipes-page__list {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 2em;

        .recipes-page__item {
            width: 375px;
            height: 375px;

            .item__header {
                margin-top: 8.5em;
                font-size: 1.9em;
            }
        }
    }

    .add-recipe {
        .add-recipe__btn {
            width: 120px;
            height: 120px;

            span {
                width: 60px;
                margin-left: -28.5px;
            }
        }

        .add-recipe__text {
            font-size: 2em;
        }
    }

    

    .container {
        max-width: (1200px + 20px);
        margin: 0 auto;
    }

    .form__body {
        font-size: 1.4em;
    }
    .main {
        .main__intro {
            padding-bottom: 16em;

            .intro__container {

                .content__header {
                    margin-top: 4em;
                    font-size: 2.9em;
                }

                .content__paragraph {
                    font-size: 2.9em;
                }
            }
        }

        .main__articles {
            padding-bottom: 19em;
            .articles__container {
                .articles__header {
                    font-size: 2.9em
                }
            }
        }

        .main__article-form {
            padding-bottom: 7em;
            .article-form__container {
                .article-form__header {
                    font-size: 2.9em;
                }
            }
        }

        .main__recipe-form {
            padding-bottom: 7em;
            .recipe-form__container {
                .recipe-form__header {
                    font-size: 2.9em;
                }
            }
        }

        .main__article {
            padding-bottom: 19em;
            .article__container {
                .article__header {
                    font-size: 2.9em;
                }
                .article__text {
                    font-size: 1.9em;
                }
            }
        }

        .main__about {
            padding-bottom: 19em;
    
            .about__container {
                .about__header {
                    font-size: 2.9em;
                }
                .about__content {
                    font-size: 1.9em;

                    .about__img {
                        width: 550px;
                    }
                }
            }
        }

        .main__register {
            padding-bottom: 9em;
            .register__container {
                .register__header {
                    font-size: 2.9em;
                }
            }
        }

        .main__recipe {
            padding-bottom: 9em;
            .recipe__container {
                .recipe__header {
                    font-size: 2.9em;
                }
            }
        }

        .main__recipes-page {
            padding-bottom: 9em;
            padding-left: 1.2em;
            padding-right: 1.2em;

            .recipes-page__container {

                .recipes-page__header {
                    font-size: 2.9em;
                }
            }
        }

        .main__login {
            padding-bottom: 9em;
    
            .login__container {
                .login__header {
                    font-size: 2.9em;
                }
            }
        }
    }
}